.advantages
    background: #f6f6f6

    @media (max-width:402.98px)
        margin-top: 54px
    @media (min-width: 403px)
        margin-top: 68px

    &__content
        +_1
            padding-top: 51px
            padding-bottom: 65px
        +_470
            padding-top: 61px
        +_768
            padding-top: 71px

    &__list
        display: grid
        gap: 15px
        @media (max-width: 660px)
            grid-template: 1fr / 1fr
            justify-content: center
            margin-top: 40px
        @media (min-width: 661px)
            grid-template: 1fr / repeat(3, 1fr)
            margin-top: 60px

        &-item
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            &-title
                margin-top: 35px
                font-size: 18px
                font-family: "Museo Sans Cyrl 700"

    &__description
        max-width: 277px
        margin-top: 20px
        & span
            text-transform: uppercase
            color: #FF0000
            text-decoration: underline

#boot
    animation: swing 1s ease-in-out infinite alternate

@keyframes swing
    0%
        transform: rotate(0deg)

    50%
        transform: rotate(15deg)

    100%
        transform: rotate(-15deg)

#heart
    animation: heartbeat 1s ease-in-out infinite

@keyframes heartbeat
    0%
        transform: scale(1)

    50%
        transform: scale(1.2)

    100%
        transform: scale(1)

#cup
    animation: lift 2s ease-in-out infinite alternate

@keyframes lift
    0%
        transform: translateY(10%)

    50%
        transform: translateY(-10%)

    100%
        transform: translateY(0%)
