.nav
    display: flex
    justify-content: space-between
    padding-top: 21px
    align-items: center
    row-gap: 10px
    +_1
        flex-direction: column
    +_470
        flex-direction: row

    &__sponsors
        @include _1
            display: none

        @include _768
            display: block
        p
            color: $mainColor
            text-align: center
            font-weight: 500
            &.nav__sponsors-title
                font-size: 12px
                line-height: 100%
            &.nav__sponsors-company
                font-size: 18px
                line-height: 161%

    &__contacts
        display: flex
        row-gap: 3px

        +_1
            flex-direction: column
            width: 100%
            text-align: center

        +_470
            text-align: right
            width: auto
            align-items: center

        +_768
            flex-direction: column

        &-tel
            font-family: 'Museo Sans Cyrl 700'
            line-height: 100%
            font-size: 18px

        &-button
            +button
            +_1
                font-size: 14px
                margin-top: 2px
                display: block
                padding: 9px 21px
            +_470
                display: inline-block
                font-size: 12px
                padding: 7px 21px
