.modal
    scale: 1
    min-height: 100%
    min-width: 100%
    z-index: -1
    position: fixed
    transition: opacity .3s ease

    &-block
        position: absolute
        z-index: 100001

        background-color: #F2F2F2
        +_1
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 240px

        +_470
            width: 385px

    &-img
        position: absolute
        cursor: pointer
        top: 0
        +_1
            right: -30px

        +_470
            right: -35px

    &-content
        position: relative

        +_1
            padding: 15px 12px

        +_470
            padding: 25px 23px 40px 28px
        +_768
            padding: 35px 23px 40px 28px

        & .form__content .form input:first-child
            margin-top: 26px

    &-title
        text-align: center
        font-size: 19px
        font-weight: 700
        +_1
            font-size: 17px

        +_470
            font-size: 18px
        +_768
            font-size: 19px

    &-subtitle
        margin-top: 5px
        font-weight: 700
        text-align: center

        +_1
            font-size: 14px

        +_768
            font-size: 16px

    .form
        width: 100%
        input
            width: 100%

    .form__content .form .form-button
        +_1
            font-size: 15px

        +_576
            font-size: 16px

    &-feedback
        +_1
            padding: 15px 20px

        +_470
            padding: 35px 64px

        p
            max-width: 243px

        .form__content
            min-width: 200px

.no-mg
    margin: 0
.no-pd
    padding: 0

.active
    z-index: 1
    background: rgba(0, 0, 0, 0.4)

#feedback, #modal-order, #modal-form
    opacity: 0
