.slider
    +_1
        margin-top: 31px
    +_470
        margin-top: 61px
    +_768
        margin-top: 81px
    img
        display: block
        margin: 0 auto
    [data-controls=prev], [data-controls=next]
        border: none
        background: transparent
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: 1
        +_1
            display: none
        +_768
            display: block
        &:after
            content: ""
            display: block
            position: absolute
            border-radius: 50%
            left: 0
            top: 0
            width: 100%
            height: 100%
            opacity: 0
            transition: all 0.5s
            box-shadow: 0 0 10px 20px $secondColor

        &:active:after
            box-shadow: 0 0 0 0 white
            position: absolute
            border-radius: 50%
            left: 0
            top: 0
            opacity: 1
            transition: 0s

    &__container
        position: relative
        [data-controls=prev]
            left: 0
        [data-controls=next]
            right: 0
        .tns-nav
            position: absolute
            bottom: -20px
            left: 50%
            transform: translateX(-50%)
            display: flex
            gap: 2px

            button
                +_1
                    width: 30px
                    height: 4px

                +_470
                    width: 40px
                    height: 7px

            &-active
                background-color: $secondColor
                border: 2px solid $secondColor
                border-radius: 5px
        .tns-item img
            padding: 0 40px

.my-slider
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
